* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body {
    background-color: #1D2134;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

nav .nav-left p {
    color: #ffffff;
}

nav a {
    margin-left: 1em;
    color: #ffffff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    color: #ffffff;
}

.view-page {
    padding: 3em;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.view-border {
    background-color: #2C3044;
    padding: 3em 5em;
    border-radius: 30px;
}

.view-border h1 {
    text-align: center;
    font-weight: 700;
    color: #ffffff;
}

.view-border p {
    color: #ffffff;
}

.view-page .view-border .button a {
    background-color: #DD5926;
    padding: .5em 1em;
    color: #FFFFFF;
    border: 0;
    font-weight: 700;
    border-radius: 5px;
    text-decoration: none;
}

.view-page .view-border .button a:hover {
    background-color: blue;
    transition: .2s;
}

.view-page .view-border .gambar {
    margin-bottom: 1em;
}

.view-page .view-border .gambar,
.view-page .view-border .description {
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.view-page .view-border .komentar {
    color: #ffffff;
    margin-top: 3em;
}

.view-page .view-border .komentar>form {
    margin-top: 1em;
    margin-bottom: 1em;
}

.view-page .view-border .komentar h3 {
    font-weight: 700;
}

.view-page .view-border .komentar .comment {
    display: none;
    justify-content: flex-end;
}

.view-page .view-border .komentar .comment button {
    padding: .5em 1em;
    color: white;
    background-color: #DD5926;
    margin-top: .4em;
    border: 0;
    font-weight: 700;
}

.view-page .view-border .komentar .komentar-list {
    margin-top: 3em;
    border-top: 2px solid #ffffff;
    padding-top: 1em;
}

.view-page .view-border .komentar .komentar-list h5 {
    font-weight: 600;
}

.view-page .view-border .komentar .komentar-list .reply p span:hover {
    cursor: pointer;
    color: lightgray;
}

.view-page .view-border .komentar .komentar-list .reply .reply-users {
    margin: 2em 0;
    padding-left: 2em;
    padding-top: .6em;
    flex-direction: column;
    border-top: 1px solid gray;
}

.view-page .view-border .komentar .komentar-list .reply .reply-users p {
    font-size: 12px;
}

.view-page .view-border .komentar .garis-putih {
    background-color: #ffffff;
    height: 2px;
    width: 100%;
    margin-top: .3em;
}

.view-page .view-border .komentar .komentar-list .reply .reply-content .replied {
    display: flex;
    justify-content: flex-end;
}

.view-page .view-border .komentar .komentar-list .reply .reply-content .replied button {
    padding: .5em 1em;
    color: white;
    background-color: #DD5926;
    margin-top: .4em;
    border: 0;
    font-weight: 700;
}
